<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flex demo</title>
  <link rel="stylesheet" href="flex.css">
</head>

<body>
  <main>
    <ul>
      <li>longlonglonglonglonglong item1</li>
      <li>longlonglonglonglonglong item2</li>
      <li>longlonglonglonglonglong item3</li>
      <li>longlonglonglonglonglong item4</li>
      <li>longlonglonglonglonglong item5</li>
      <li>longlonglonglonglonglong item6</li>
      <li>longlonglonglonglonglong item7</li>
      <li>longlonglonglonglonglong item8</li>
      <li>longlonglonglonglonglong item9</li>
    </ul>
  </main>
</body>

</html>